*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERICS*/

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
    width: 100%;
}

/*CONTAINER E COLONNE*/

.col-card-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    width: 50%;
}

.row{
    flex-grow: 1;
}


.col-card{
    width: 50%;
    border-right: 1px solid black;
    padding: 20px;
}

.col-card:last-child{
    border-right: 0;
}


/*LISTA CARTE*/
.card{
    list-style: none;
    list-style-position: inside;
}

.sublist{
    margin-left: 25px;
}

.card li{
    margin-bottom: 2px
}


/*UTILITY*/

.tc{
    text-align: center;
}

.mb2{
    margin-bottom: 20px
}

.tred{
    color: red;
}

.navbar{
    background-color: #757575;
    color: #fff;
    min-height: 80px;
    
}
